@require "../features/float.styl"
@require "../features/h.styl"
@import "/../layouts/colors.styl"

.two-factor
    .block-body
        font-size 16px
    img
        margin-right 5px
        border 1px solid $border-color
        box-shadow 3px 5px 13px 0 rgba(0,0,0,0.5), inset 0px 1px 20px 0px rgba(157,173,248,0.4)
    code
        font-size 18px
        display block
        background-color $border-color
        color $alt-text-color
        width 200px
        text-align center
        padding 5px
        border 2px dashed white
        margin auto
    .text
        display inline-block
        width 425px
    input[type="text"], input[type="submit"]
        display block
        width 214px
        text-align center
        margin 5px auto 5px auto
        border none
        font-size 18px
        padding 4px 0 5px 0
