@require '../features/blocks.styl'
@require '../features/float.styl'
@import "/../layouts/colors.styl"

.column:last-child:not(:first-child) .event
    margin-left 5px
.margin-right-s10
    margin-right 10px
.event
    position relative
    margin-bottom 5px
    span
        font-size 14px
    h3
        padding 0
        margin 0
        margin-bottom 5px
        font-size 20px
    img
        width 75px
        height 75px
    &.large

        img
            width 125px
            height 125px
        h3
            font-size 24px
        span
            font-size 16px
.more-btn
    position absolute
    bottom 7px
    right 5px
    display inline-block
    min-width 115px
    height 30px
    background $btn-back
    border-radius 30px
    color $btn-color
    text-align center
    line-height 30px
    transition all 0.2s ease
    border none
    font 14px 'Calibri'
    cursor pointer
    line-height 30px
    text-decoration none
    &:hover
        background $btn-color
        color $btn-back
.more-link
    color $btn-color
    transition: all 0.2s ease;
    &:hover
        color $alt-text-color
.row:last-child
    margin-bottom 15px !important
