@require '../features/border.styl'
@require '../features/inline.styl'
@require '../features/buttons.styl'
@require '../features/float.styl'
@import "/../layouts/colors.styl"

article.news
    min-height 130px
    margin-bottom 15px
    a
        text-decoration: none;
        color: inherit;
    aside
        width 120px
        height 120px
    section
        width 495px
        float right
        .read-more
            //margin-top: 10px;
            float: right;
            .button
                width: 120px;
                height: 30px;
        header
            font 24px 'Bebas Neue'
            font-weight bold
            line-height 24px
            span
                font-size: 14px;
                float: right;
                font-weight: normal;
                color $alt-text-color
        p
            margin-top: 5px;
            height: 60px;
            color $alt-text-color
