@import "/../layouts/colors.styl"

.payment, .transit, .information
    a
        color $alt-text-color
        text-decoration none
    .no
        text-decoration line-through
    p
        color $alt-text-color
        margin 0
    h2
        padding 0
        margin 0
        margin-bottom 5px
        font-size 24px
    .notice
        span.head, span.body
            display block
        .inline
            display inline-block
            vertical-align middle
    form
        margin-top 5px
    .amount
        font 16px 'Calibri'
        margin-bottom 5px
        border 1px solid $border-color
        height 35px
        padding-left 3px
        padding-right 3px
        width calc(100% - 8px)
        &::placeholder
            color #1a014e
            font-weight 100
    .submit
        width calc(100%)
        min-width 115px
        height 30px
        background: $btn-back;
        border-radius: 30px;
        color: $btn-color;
        text-align: center;
        line-height: 30px;
        transition: all .2s ease;
        border: none;
        font: 14px 'Calibri';
        cursor: pointer;
        &:hover
            background-color: $btn-color;
            color: $btn-back;
            transition: all .2s ease;
.half-of
    width calc(50% - 23px)
    display inline-block
    vertical-align top
.transit
    margin-left 5px
.payment
    margin-right 5px
.screenshots
    padding 0
    div.gallery img
        width 648px
