@require '../features/h.styl'
@require '../features/blocks.styl'
@require '../features/buttons.styl'

.input-name
    font-size 16px
    font-family 'Roboto', sans-serif
.input-name, .input
    display block
.post__description
    resize vertical
    width calc(100% - 6px)
