@import "../features/flex.styl"
@import "/../layouts/colors.styl"

.registration
    padding 15px
    form
        width: 500px;
        margin: 0 auto;
    h2
        padding 0
        margin 0
        margin-bottom 5px
        font-size 24px
    .notice
        font-family 'Roboto'
    .row
        margin 15px 0
    .form-group
        font-size 0
        white-space nowrap
    .tip
        width calc(50% - 32px) !important
        padding 0 5px
        margin-left: 20px
        border: 1px solid $border-color;
        background: rgba(255,255,255,0.05);
        p
            position relative
            display block
            //background-color white;
            //color black
            padding 2px 5px
            height 33px
            width 100%
            line-height 12px
            text-align center
            &:after
                content: '';
                display: block;
                position: absolute;
                top: 11px;
                left: -4px;
                margin-left: -8px;
                height: 0;
                width: 0;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right: 6px solid $border-color;

    p
        margin 0
    .form-group input, .form-group .tip
        font-size 16px
        width calc(50% - 8px)
        display inline-block
        vertical-align top
        line-height 40px
        white-space normal
    .form-group input
        font 16px 'Calibri'
        margin-bottom 5px
        border 1px solid $border-color
        height 35px
        padding-left 3px
        padding-right 3px
        &::placeholder
            color #1a014e
            font-weight 100
    .user-agreement
        display inline-block
        width 50%
        font-size 12px
        line-height 12px
        white-space normal
        a
            color inherit
    .registration-button
        margin-left: 20px;
        width calc(50% - 20px) !important
    ul
        list-style none
        margin 0
        padding 0
    .form-group.has-error.has-danger
        & .empty
            display inline-block
        & .success
            display none
    .form-group .success
        display none
    .form-group.has-success
        & .empty
            display none
        & .success
            display inline-block
