@import "../features/blocks.styl"
@import "../features/flex.styl"
@import "/../layouts/colors.styl"

.settings
    h2
        padding 0
        margin 0
        margin-bottom 5px
        font-size 24px
    .form-group
        position relative
    .form-group input
        font 16px 'Calibri'
        margin-bottom 5px
        border 1px solid $border-color
        height 36px
        padding-left 3px
        padding-right 3px
        width calc(50% - 8px)
        &#s_pwd
            height 40px
            width calc(100% - 8px)
    .form-group label
        display block
        font-size 14px
    .column.half
        &:last-child .form-group
            padding-left 5px
        &:first-child .form-group
            padding-right 5px
    .save-button
        width calc(100%) !important
        height 35px !important
        margin-top 5px
        font-family 'Roboto', sans-serif !important
    p
        font-size 12px;
        white-space normal
        margin-top 5px
        margin-bottom 5px
        a
            color inherit
    .form-group
        white-space nowrap
        font-size 0
        ul
            list-style none
            margin 0
            padding 0
    .tip-message-body
        display inline-block
        vertical-align top
        margin-top 2px
        font-size 16px
        white-space normal
        width 50%
    .tip-message
        position relative
        display block
        height 33px
        line-height 12px
        text-align center
        //width calc(50% - 32px) !important
        padding 0 5px
        margin-left: 20px
        border: 1px solid $border-color;
        background: rgba(255,255,255,0.05);
        &:after
            content: '';
            display: block;
            position: absolute;
            top: 10px;
            left: -6px;
            margin-left: -8px;
            height: 0;
            width: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 6px solid $border-color;
    .form-group.has-error.has-danger
        & .empty
            display inline-block
        & .success
            display none
    .form-group .success
        display none
    .form-group.has-success
        & .empty
            display none
        & .success
            display inline-block
