@require '../features/h.styl'

.preview
    padding 0
    margin 0
    margin-top 10px
.row
    margin-bottom 10px
    font-size 0
    div
        font-size 14px
        display inline-block
        .input-name, .input
            display block
.full
    width 100%
.half
    width 50%
.third
    width 33%
.fourth
    width 25%
.submit-btn
    padding-top 5px
    padding-bottom 5px
    width 100%
    font-size 18px
    border none
