@require '../features/h.styl'
@require '../features/float.styl'

.two-factor-auth
    input[type="text"], input[type="submit"]
        display block
        width 214px
        text-align center
        margin 5px auto 5px auto
        border none
        font-size 18px
        padding 4px 0 5px 0
    label
        display block
        text-align center
        margin 5px auto 5px auto
        border none
        font-size 18px
        padding 4px 0 5px 0
