.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.cc-selector input:active + .drinkcard-cc {
  opacity: 0.9;
}
.cc-selector input:checked + .drinkcard-cc {
  -webkit-filter: none;
          filter: none;
}
.drinkcard-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 160px;
  height: 200px;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
          filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.drinkcard-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
          filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}
.drinkcard-cc.right {
  float: right;
}
.drinkcard-cc.left {
  float: left;
}
.female {
  background-image: url("/img/sex/female.png");
}
.male {
  background-image: url("/img/sex/male.png");
}
.character-create {
  position: relative;
}
.character-create .create {
  width: 100% !important;
}
.character-create .nickname,
.character-create .create {
  font: 16px 'Calibri';
  margin-bottom: 5px;
  border: 1px solid #9721c1;
  height: 35px;
  padding-left: 3px;
  padding-right: 3px;
  width: calc(100% - 8px);
}
.character-create .nickname:placeholder,
.character-create .create:placeholder {
  color: #1a014e;
  font-weight: 100;
}
.character-create .clear {
  clear: both;
}
.character-create .group {
  position: absolute;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  margin-top: 60px;
}
.character-create .group input {
  display: block;
  margin: 2px 0 2px 0;
}
