.h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.documents .link {
  color: #da1000;
}
