.fl.left {
  float: left;
}
.fl.right {
  float: right;
}
.fl.clear {
  clear: both;
}
.h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.two-factor .block-body {
  font-size: 16px;
}
.two-factor img {
  margin-right: 5px;
  border: 1px solid #ff4d3b;
  box-shadow: 3px 5px 13px 0 rgba(0,0,0,0.5), inset 0px 1px 20px 0px rgba(157,173,248,0.4);
}
.two-factor code {
  font-size: 18px;
  display: block;
  background-color: #ff4d3b;
  color: #000;
  width: 200px;
  text-align: center;
  padding: 5px;
  border: 2px dashed #fff;
  margin: auto;
}
.two-factor .text {
  display: inline-block;
  width: 425px;
}
.two-factor input[type="text"],
.two-factor input[type="submit"] {
  display: block;
  width: 214px;
  text-align: center;
  margin: 5px auto 5px auto;
  border: none;
  font-size: 18px;
  padding: 4px 0 5px 0;
}
