.row {
  font-size: 0;
  white-space: nowrap;
}
.column {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  white-space: normal;
}
.column.full {
  width: 100%;
}
.column.s75 {
  width: 75%;
}
.column.s66 {
  width: 66.6666%;
}
.column.s60 {
  width: 60%;
}
.column.half {
  width: 50%;
}
.column.s40 {
  width: 40%;
}
.column.third {
  width: 33.3333%;
}
.column.quarter {
  width: 25%;
}
.fl.left {
  float: left;
}
.fl.right {
  float: right;
}
.fl.clear {
  clear: both;
}
.column:last-child:not(:first-child) .event {
  margin-left: 5px;
}
.margin-right-s10 {
  margin-right: 10px;
}
.event {
  position: relative;
  margin-bottom: 5px;
}
.event span {
  font-size: 14px;
}
.event h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.event img {
  width: 75px;
  height: 75px;
}
.event.large img {
  width: 125px;
  height: 125px;
}
.event.large h3 {
  font-size: 24px;
}
.event.large span {
  font-size: 16px;
}
.more-btn {
  position: absolute;
  bottom: 7px;
  right: 5px;
  display: inline-block;
  min-width: 115px;
  height: 30px;
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font: 14px 'Calibri';
  cursor: pointer;
  line-height: 30px;
  text-decoration: none;
}
.more-btn:hover {
  background: #a80e00;
  color: #fef8f3;
}
.more-link {
  color: #a80e00;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.more-link:hover {
  color: #000;
}
.row:last-child {
  margin-bottom: 15px !important;
}
