.block {
  border: 1px solid #ff4d3b;
  box-shadow: 3px 5px 13px 0 rgba(0,0,0,0.5), inset 0px 1px 20px 0px rgba(157,173,248,0.4);
  background: rgba(255,255,255,0.3);
  padding: 8px;
  margin-bottom: 15px;
}
.block h3.heading {
  font: 24px 'Bebas Neue';
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
body {
  font: 14px Calibri;
  color: #a60c00;
  margin: 0;
  padding: 0;
  background: #b5ffff url("/img/bg-top.png") top center no-repeat;
}
body main {
  width: 960px;
  margin: 0 auto;
  min-height: 617px;
  background: #ff9840 url("/img/cont.jpg") top center no-repeat;
  white-space: nowrap;
}
body main section.additional {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
body main section.content {
  width: 650px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  float: left;
}
body main section {
  white-space: normal;
}
body main aside.menu {
  width: 270px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  white-space: normal;
  float: right;
}
footer {
  color: #000;
  width: 100%;
  height: 326px;
  background: url("/img/bg-bot.png") center bottom no-repeat;
  margin: 0 auto;
  text-align: center;
}
footer section.content {
  width: 960px;
  margin: 0 auto;
  height: 200px;
  padding-top: 125px;
}
footer section.content h2 {
  font: 50px 'Bebas Neue';
  margin: -25px 0 0 0;
  height: 50px;
}
footer section.content section {
  height: 100px;
  width: 80%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}
footer section.content div a {
  color: inherit;
}
footer section.content .information {
  width: calc(100% - 200px - 110px);
  height: calc(100% - 50px);
  margin-left: 200px;
  margin-right: 110px;
  font-size: 0;
  white-space: nowrap;
}
footer section.content .information .about,
footer section.content .information .partners {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
footer section.content .information .about {
  text-align: left;
  font-size: 16px;
}
footer section.content .information .about a {
  display: block;
}
footer section.content .information .partners a {
  display: block;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("/fonts/BebasNeueRegular.eot");
  src: url("/fonts/BebasNeueRegular.eot?#iefix") format('embedded-opentype'), url("/fonts/BebasNeueRegular.woff2") format('woff2'), url("/fonts/BebasNeueRegular.woff") format('woff'), url("/fonts/BebasNeueRegular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.pulse {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: pulse 5s infinite;
          animation: pulse 5s infinite;
}
header nav {
  width: 960px;
  height: 60px;
  margin: 0 auto;
  font: 24px 'Bebas Neue';
  text-align: center;
  line-height: 60px;
}
header nav ul {
  margin: 0;
  padding: 0;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  height: 60px;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  height: 60px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
header nav ul li:before {
  content: ' ';
  position: absolute;
  background: url("/img/sep.png") center no-repeat;
  width: 1px;
  height: 35px;
  left: 100%;
  top: 50%;
  margin-top: -17.5px;
}
header nav ul li:last-child:before {
  background: transparent;
}
header nav ul li:hover a:before {
  position: absolute;
  content: '';
  width: calc(100% - 40px);
  left: 50%;
  margin-left: calc(((100% - 40px) * -1) / 2);
  height: 2px;
  background: #fff;
  top: 45px;
}
header div {
  width: 100%;
  height: 349px;
  position: relative;
}
header div div {
  text-align: center;
  position: absolute;
  width: 375px;
  height: 320px;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -240px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.warning {
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -5px;
}
.no-padding {
  padding: 0;
}
.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}
