.border {
  border: 1px solid #ff4d3b;
}
.ib {
  display: inline-block;
}
.ib top {
  vertical-align: top;
}
.ib middle {
  vertical-align: middle;
}
.ib bottom {
  vertical-align: bottom;
}
.button {
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button:hover {
  background: #a80e00;
  color: #fef8f3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button__without-border {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 18px;
  border: none;
}
.fl.left {
  float: left;
}
.fl.right {
  float: right;
}
.fl.clear {
  clear: both;
}
article.news {
  min-height: 130px;
  margin-bottom: 15px;
}
article.news a {
  text-decoration: none;
  color: inherit;
}
article.news aside {
  width: 120px;
  height: 120px;
}
article.news section {
  width: 495px;
  float: right;
}
article.news section .read-more {
  float: right;
}
article.news section .read-more .button {
  width: 120px;
  height: 30px;
}
article.news section header {
  font: 24px 'Bebas Neue';
  font-weight: bold;
  line-height: 24px;
}
article.news section header span {
  font-size: 14px;
  float: right;
  font-weight: normal;
  color: #000;
}
article.news section p {
  margin-top: 5px;
  height: 60px;
  color: #000;
}
