.payment a,
.transit a,
.information a {
  color: #000;
  text-decoration: none;
}
.payment .no,
.transit .no,
.information .no {
  text-decoration: line-through;
}
.payment p,
.transit p,
.information p {
  color: #000;
  margin: 0;
}
.payment h2,
.transit h2,
.information h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.payment .notice span.head,
.transit .notice span.head,
.information .notice span.head,
.payment .notice span.body,
.transit .notice span.body,
.information .notice span.body {
  display: block;
}
.payment .notice .inline,
.transit .notice .inline,
.information .notice .inline {
  display: inline-block;
  vertical-align: middle;
}
.payment form,
.transit form,
.information form {
  margin-top: 5px;
}
.payment .amount,
.transit .amount,
.information .amount {
  font: 16px 'Calibri';
  margin-bottom: 5px;
  border: 1px solid #ff4d3b;
  height: 35px;
  padding-left: 3px;
  padding-right: 3px;
  width: calc(100% - 8px);
}
.payment .amount::-webkit-input-placeholder, .transit .amount::-webkit-input-placeholder, .information .amount::-webkit-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.payment .amount::-moz-placeholder, .transit .amount::-moz-placeholder, .information .amount::-moz-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.payment .amount:-ms-input-placeholder, .transit .amount:-ms-input-placeholder, .information .amount:-ms-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.payment .amount::-ms-input-placeholder, .transit .amount::-ms-input-placeholder, .information .amount::-ms-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.payment .amount::placeholder,
.transit .amount::placeholder,
.information .amount::placeholder {
  color: #1a014e;
  font-weight: 100;
}
.payment .submit,
.transit .submit,
.information .submit {
  width: calc(100%);
  min-width: 115px;
  height: 30px;
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font: 14px 'Calibri';
  cursor: pointer;
}
.payment .submit:hover,
.transit .submit:hover,
.information .submit:hover {
  background-color: #a80e00;
  color: #fef8f3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.half-of {
  width: calc(50% - 23px);
  display: inline-block;
  vertical-align: top;
}
.transit {
  margin-left: 5px;
}
.payment {
  margin-right: 5px;
}
.screenshots {
  padding: 0;
}
.screenshots div.gallery img {
  width: 648px;
}
