.h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.row {
  font-size: 0;
  white-space: nowrap;
}
.column {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  white-space: normal;
}
.column.full {
  width: 100%;
}
.column.s75 {
  width: 75%;
}
.column.s66 {
  width: 66.6666%;
}
.column.s60 {
  width: 60%;
}
.column.half {
  width: 50%;
}
.column.s40 {
  width: 40%;
}
.column.third {
  width: 33.3333%;
}
.column.quarter {
  width: 25%;
}
.button {
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button:hover {
  background: #a80e00;
  color: #fef8f3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.button__without-border {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 18px;
  border: none;
}
.input-name {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.input-name,
.input {
  display: block;
}
.post__description {
  resize: vertical;
  width: calc(100% - 6px);
}
