.outer {
  display: -webkit-box !important;
  display: flex !important;
}
.inner {
  margin: auto !important;
}
.registration {
  padding: 15px;
}
.registration form {
  width: 500px;
  margin: 0 auto;
}
.registration h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.registration .notice {
  font-family: 'Roboto';
}
.registration .row {
  margin: 15px 0;
}
.registration .form-group {
  font-size: 0;
  white-space: nowrap;
}
.registration .tip {
  width: calc(50% - 32px) !important;
  padding: 0 5px;
  margin-left: 20px;
  border: 1px solid #ff4d3b;
  background: rgba(255,255,255,0.05);
}
.registration .tip p {
  position: relative;
  display: block;
  padding: 2px 5px;
  height: 33px;
  width: 100%;
  line-height: 12px;
  text-align: center;
}
.registration .tip p:after {
  content: '';
  display: block;
  position: absolute;
  top: 11px;
  left: -4px;
  margin-left: -8px;
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 6px solid #ff4d3b;
}
.registration p {
  margin: 0;
}
.registration .form-group input,
.registration .form-group .tip {
  font-size: 16px;
  width: calc(50% - 8px);
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  white-space: normal;
}
.registration .form-group input {
  font: 16px 'Calibri';
  margin-bottom: 5px;
  border: 1px solid #ff4d3b;
  height: 35px;
  padding-left: 3px;
  padding-right: 3px;
}
.registration .form-group input::-webkit-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.registration .form-group input::-moz-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.registration .form-group input:-ms-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.registration .form-group input::-ms-input-placeholder {
  color: #1a014e;
  font-weight: 100;
}
.registration .form-group input::placeholder {
  color: #1a014e;
  font-weight: 100;
}
.registration .user-agreement {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  line-height: 12px;
  white-space: normal;
}
.registration .user-agreement a {
  color: inherit;
}
.registration .registration-button {
  margin-left: 20px;
  width: calc(50% - 20px) !important;
}
.registration ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.registration .form-group.has-error.has-danger .empty {
  display: inline-block;
}
.registration .form-group.has-error.has-danger .success {
  display: none;
}
.registration .form-group .success {
  display: none;
}
.registration .form-group.has-success .empty {
  display: none;
}
.registration .form-group.has-success .success {
  display: inline-block;
}
