.row {
  font-size: 0;
  white-space: nowrap;
}
.column {
  vertical-align: top;
  display: inline-block;
  font-size: 14px;
  white-space: normal;
}
.column.full {
  width: 100%;
}
.column.s75 {
  width: 75%;
}
.column.s66 {
  width: 66.6666%;
}
.column.s60 {
  width: 60%;
}
.column.half {
  width: 50%;
}
.column.s40 {
  width: 40%;
}
.column.third {
  width: 33.3333%;
}
.column.quarter {
  width: 25%;
}
.outer {
  display: -webkit-box !important;
  display: flex !important;
}
.inner {
  margin: auto !important;
}
.settings h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.settings .form-group {
  position: relative;
}
.settings .form-group input {
  font: 16px 'Calibri';
  margin-bottom: 5px;
  border: 1px solid #ff4d3b;
  height: 36px;
  padding-left: 3px;
  padding-right: 3px;
  width: calc(50% - 8px);
}
.settings .form-group input#s_pwd {
  height: 40px;
  width: calc(100% - 8px);
}
.settings .form-group label {
  display: block;
  font-size: 14px;
}
.settings .column.half:last-child .form-group {
  padding-left: 5px;
}
.settings .column.half:first-child .form-group {
  padding-right: 5px;
}
.settings .save-button {
  width: calc(100%) !important;
  height: 35px !important;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif !important;
}
.settings p {
  font-size: 12px;
  white-space: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}
.settings p a {
  color: inherit;
}
.settings .form-group {
  white-space: nowrap;
  font-size: 0;
}
.settings .form-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.settings .tip-message-body {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  font-size: 16px;
  white-space: normal;
  width: 50%;
}
.settings .tip-message {
  position: relative;
  display: block;
  height: 33px;
  line-height: 12px;
  text-align: center;
  padding: 0 5px;
  margin-left: 20px;
  border: 1px solid #ff4d3b;
  background: rgba(255,255,255,0.05);
}
.settings .tip-message:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: -6px;
  margin-left: -8px;
  height: 0;
  width: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 6px solid #ff4d3b;
}
.settings .form-group.has-error.has-danger .empty {
  display: inline-block;
}
.settings .form-group.has-error.has-danger .success {
  display: none;
}
.settings .form-group .success {
  display: none;
}
.settings .form-group.has-success .empty {
  display: none;
}
.settings .form-group.has-success .success {
  display: inline-block;
}
