.h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.preview {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}
.row {
  margin-bottom: 10px;
  font-size: 0;
}
.row div {
  font-size: 14px;
  display: inline-block;
}
.row div .input-name,
.row div .input {
  display: block;
}
.full {
  width: 100%;
}
.half {
  width: 50%;
}
.third {
  width: 33%;
}
.fourth {
  width: 25%;
}
.submit-btn {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  font-size: 18px;
  border: none;
}
