.h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
}
.h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
}
.h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 20px;
}
.h4 {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}
.fl.left {
  float: left;
}
.fl.right {
  float: right;
}
.fl.clear {
  clear: both;
}
.two-factor-auth input[type="text"],
.two-factor-auth input[type="submit"] {
  display: block;
  width: 214px;
  text-align: center;
  margin: 5px auto 5px auto;
  border: none;
  font-size: 18px;
  padding: 4px 0 5px 0;
}
.two-factor-auth label {
  display: block;
  text-align: center;
  margin: 5px auto 5px auto;
  border: none;
  font-size: 18px;
  padding: 4px 0 5px 0;
}
