.row
    font-size 0
    white-space nowrap
.column
    vertical-align top
    display inline-block
    font-size 14px
    white-space normal
    &.full
        width 100%
    &.s75
        width 75%
    &.s66
        width 66.6666%
    &.s60
        width 60%
    &.half
        width 50%
    &.s40
        width 40%
    &.third
        width 33.3333%
    &.quarter
        width 25%
