@import "/../layouts/colors.styl"

.button
  background: $btn-back;
  border-radius: 30px;
  color: $btn-color;
  text-align: center;
  line-height: 30px;
  transition: all .2s ease;
  &:hover
    background: $btn-color;
    color: $btn-back;
    transition: all .2s ease;
.button__without-border
    padding-top 5px
    padding-bottom 5px
    width 100%
    font-size 18px
    border none
