@import "/../layouts/colors.styl"

socialIcon(name)
    background url(/img/social/name.png) center no-repeat
.auth
    h3
        font 24px 'Bebas Neue'
        margin 0
        text-align center
        margin-bottom 10px
    label
        margin 0
        margin-bottom 3px
        margin-top 3px
        display block
    input
        width calc(100% - 8px)
        font 14px 'Calibri'
        margin-bottom 5px
        border 1px solid $border-color
        height 25px
        padding-left 3px
        padding-right 3px
    button
        min-width 115px
        height 30px
        background: $btn-back;
        border-radius: 30px;
        color: $btn-color;
        text-align: center;
        line-height: 30px;
        transition: all .2s ease;
        border: none;
        font: 14px 'Calibri';
        margin-left: 2.5px;
        margin-right: 2.5px;
        cursor: pointer;
        &:hover
            background: $text-color;
            color: $btn-back;
            transition: all .2s ease;
        &:first-child
            float left
        &:last-child
            float right
    div.social
        text-align: center;
        margin-top: 15px;
        span
            display: inline-block;
            width: 45px;
            height: 45px;
            cursor: pointer;
            text-align: center;
            transition: all .2s ease-in-out;
            line-height 68px
            &:hover
                i
                    filter grayscale(60%)
            i
                width: 45px;
                height: 45px;
                background-size: 100% !important;
                display inline-block
                transition: all .2s ease-in-out;
                margin 0 auto
                &.vk
                    socialIcon(vk)
                &.facebook
                    socialIcon(fb)
                &.steam
                    socialIcon(steam)
                &.twitter
                    socialIcon(twitter)
                &.yandex
                    socialIcon(yandex)
                &.google
                    socialIcon(google)
