@import "/../layouts/colors.styl"

.dropdown-menu
    a
        text-decoration none
    nav
        font-family monospace
    ul
        background $btn-back
        list-style none
        margin 0
        padding-left 0
        li
            ul
                background $btn-back
                visibility hidden
                opacity 0
                min-width 5rem
                position absolute
                transition all 0.5s ease
                margin-top 1rem
                left 0
                display none
                li
                    clear both
                    width 100%
    li
        color $btn-color
        background $btn-back
        display block
        float left
        padding 1rem
        position relative
        text-decoration none
        transition-duration 0.5s
        a
            display block;
            color $btn-color
            &:before
                display block;
                width 100%
                height 100%
                position absolute
                left 0
                top 0
                content: " ";
        &:focus-within
            a
                outline none
.dropdown-menu li:hover,
.dropdown-menu li:focus-within
    background $btn-back
    cursor pointer
.dropdown-menu ul li:hover > ul,
.dropdown-menu ul li:focus-within > ul,
.dropdown-menu ul li ul:hover,
.dropdown-menu ul li ul:focus
    visibility visible
    opacity 1
    display block
