@import "/../layouts/colors.styl"

.pagination
    list-style none
    padding 0
    margin 15px auto 15px auto
.page-item
    display inline-block
    .page-link
        display block
        border-radius 50%
        background-color $btn-back
        font-size 18px
        text-decoration none
        width 30px
        height 30px
        text-align center
        line-height 30px
        color $btn-color
        transition all 0.2s ease
    &:not(.active)
        .page-link:hover
            background-color $btn-color
            color $btn-back
    &.active
        .page-link
            border 1px solid $border-color
            box-shadow: 3px 5px 13px 0 rgba(0,0,0,0.5), inset 0px 0px 7px 0px #9721c1;;
            color black
