@import "/../layouts/colors.styl"

.slider
    padding 0
    .viewport
        width 100%
        height 350px
        position relative
        overflow hidden
        user-select none
        text-align center
        .prev
            left 20px
        .next
            right 20px
        .prev, .next
            position absolute
            width 50px
            height 50px
            background-color $btn-back
            border-radius 50%
            top calc(50% - 25px)
            &:hover
                cursor pointer
        .slide-wrapper
            position relative
            width calc(648px * 4)
            transition 1s
            transition-timing-function cubic-bezier(.67,.01,.23,1)
            &, & ul, & li
                margin 0
                padding 0
            a
                display block
        .slide
            //width calc(100%/4)
            width 648px
            list-style none
            display inline
            float left
        .slide-img
            width 100%
        .navigation-buttons
            position absolute
            left 50%
            transform translate(-50%, 0)
            bottom 20px
            padding 0
            margin 0
            .to-slide
                position relative
                display inline-block
                list-style none
                width 20px
                height 20px
                background-color $btn-back
                border-radius 50%
                margin 3px
                &:hover
                    cursor pointer
                &.selected
                    background red
