.social-bar
  width 100%
  height 30px
  white-space nowrap
  font-size: 0;
  a
    display inline-block
    width calc(100% / 5)
    height 100%
    line-height 30px
  span
    display inline-block
    width 100%
    height 100%
    font-size: 12px;
    &.facebook
      background-color #45578f
    &.vkontakte
      background-color #00ffff
    &.instargam
      background-color #ffbb00
    &.twitter
      background-color #5ea6ff
    &.discord
      background-color #73558b
