@import "/../layouts/colors.styl"

.user-info
    font-family: 'Roboto', sans-serif;
    background: $btn-back;
    border-radius: 20px;
    color: black;
    margin-bottom 5px
    img
        width 45px
        height 45px
        float left
        margin-right 5px
        border-radius: 20px 0 0 20px;
    p
        margin 0
    p.username
        font-size 20px
    p.balance
        font-size 16px
        color: $btn-color;

.user-navigation
    font-size 0
    white-space nowrap
    .full
        width 100% !important
        margin-right 0 !important
        margin-left 0 !important
    .link:first-child
        margin-right 5px
    .link:last-child
        margin-left 5px
    button
        width calc(50% - 5px)
        margin-top 5px
        margin-bottom 5px
        min-width 115px
        height 30px
        background: $btn-back;
        border-radius: 30px;
        color: $btn-color;
        text-align: center;
        line-height: 30px;
        transition: all .2s ease;
        border: none;
        font: 14px 'Calibri';
        cursor: pointer;
        &:hover
            background: $btn-color;
            color: $btn-back;
            transition: all .2s ease;
