@import "colors.styl"

.block
  border 1px solid $border-color
  box-shadow 3px 5px 13px 0 rgba(0, 0, 0, 0.5), inset 0px 1px 20px 0px rgba(157, 173, 248, 0.4)
  background rgba(255, 255, 255, 0.30)
  padding 8px
  margin-bottom 15px
  h3.heading
    font 24px 'Bebas Neue'
    margin 0
    text-align center
    margin-bottom 10px
