@import "colors.styl"

body
  font 14px Calibri
  color $text-color
  margin 0
  padding 0
  background $bg-color url(/img/bg-top.png) top center no-repeat
  main
    width 960px
    margin 0 auto
    min-height 617px
    background $m-bg-color url(/img/cont.jpg) top center no-repeat
    white-space nowrap
    section.additional
      width 100%
      height auto
      margin-bottom 20px
    section.content
      width 650px
      height auto
      display inline-block
      vertical-align top
      margin-left 10px
      float left
    section
      white-space normal
    aside.menu
      width 270px
      height auto
      display inline-block
      vertical-align top
      margin-right 15px
      white-space normal
      float right
