@import "colors.styl"

footer
  color $alt-text-color
  width 100%
  height 326px
  background url(/img/bg-bot.png) center bottom no-repeat
  margin 0 auto
  text-align center
  section.content
    width 960px
    margin 0 auto
    height 200px
    padding-top 125px
    h2
      font 50px 'Bebas Neue'
      margin -25px 0 0 0
      height 50px
    section
      height 100px
      width 80%
      margin 0 auto
      padding 25px 0 25px 0
    div a
      color inherit
    .information
      width calc(100% - 200px - 110px)
      height calc(100% - 50px)
      margin-left 200px
      margin-right 110px
      font-size 0
      white-space nowrap
      & .about, & .partners
        display inline-block
        vertical-align top
        width 50%
      .about
        text-align left
        font-size 16px
        & a
          display block
      .partners
        a
          display block
        img
          //height 70px
