@font-face
  font-family: 'Bebas Neue'
  src url('/fonts/BebasNeueRegular.eot')
  src url('/fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'), url('/fonts/BebasNeueRegular.woff2') format('woff2'), url('/fonts/BebasNeueRegular.woff') format('woff'), url('/fonts/BebasNeueRegular.ttf') format('truetype')
  font-weight normal
  font-style normal
@keyframes pulse
  0%
    transform scale(1)
  50%
    transform scale(1.1)
  100%
    transform scale(1)
.pulse
  animation-fill-mode both
  animation pulse 5s infinite
header
  nav
    width 960px
    height 60px
    margin 0 auto
    font 24px 'Bebas Neue'
    text-align center
    line-height 60px
    ul
      margin 0
      padding 0
      li
        list-style none
        display inline-block
        vertical-align top
        position relative
        cursor pointer
        height 60px
        a
          text-decoration none
          color inherit
          position relative
          padding-left 30px
          padding-right 30px
          height 60px
          display inline-block
          transition all .2s
      li:before
        content ' '
        position absolute
        background url(/img/sep.png) center no-repeat
        width 1px
        height 35px
        left 100%
        top 50%
        margin-top -17.5px
      li:last-child:before
        background transparent
      li:hover a:before
        position absolute
        content ''
        width calc(100% - 40px)
        left 50%
        margin-left calc(((100% - 40px)*-1)/2)
        height 2px
        background white
        top 45px
  div
    width 100%
    height 349px
    position relative
    div
      text-align center
      position absolute
      width 375px
      height 320px
      left 50%
      top 50%
      margin-left -180px
      margin-top -240px
