.cc-selector input
    margin 0
    padding 0
    appearance none
    &:active + .drinkcard-cc
        opacity .9
    &:checked + .drinkcard-cc
        filter none
.drinkcard-cc
    cursor pointer
    background-size contain
    background-repeat no-repeat
    display inline-block
    width 160px
    height 200px
    transition: all 100ms ease-in
    filter brightness(1.8) grayscale(1) opacity(.7)
    &:hover
        filter brightness(1.2) grayscale(.5) opacity(.9)
    &.right
        float right
    &.left
        float left
.female
    background-image url(/img/sex/female.png)
.male
    background-image url(/img/sex/male.png)
.character-create
    position relative
    .create
        width: 100% !important;
    .nickname, .create
        font 16px 'Calibri'
        margin-bottom 5px
        border 1px solid #9721c1
        height 35px
        padding-left 3px
        padding-right 3px
        width: calc(100% - 8px);
        &:placeholder
            color #1a014e
            font-weight 100
    .clear
        clear both
    .group
        position: absolute;
        width: 180px;
        left: 50%;
        margin-left: -90px;
        margin-top: 60px;
        input
            display: block;
            margin: 2px 0 2px 0;
