.auth h3 {
  font: 24px 'Bebas Neue';
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}
.auth label {
  margin: 0;
  margin-bottom: 3px;
  margin-top: 3px;
  display: block;
}
.auth input {
  width: calc(100% - 8px);
  font: 14px 'Calibri';
  margin-bottom: 5px;
  border: 1px solid #ff4d3b;
  height: 25px;
  padding-left: 3px;
  padding-right: 3px;
}
.auth button {
  min-width: 115px;
  height: 30px;
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font: 14px 'Calibri';
  margin-left: 2.5px;
  margin-right: 2.5px;
  cursor: pointer;
}
.auth button:hover {
  background: #a60c00;
  color: #fef8f3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.auth button:first-child {
  float: left;
}
.auth button:last-child {
  float: right;
}
.auth div.social {
  text-align: center;
  margin-top: 15px;
}
.auth div.social span {
  display: inline-block;
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  line-height: 68px;
}
.auth div.social span:hover i {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}
.auth div.social span i {
  width: 45px;
  height: 45px;
  background-size: 100% !important;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 auto;
}
.auth div.social span i.vk {
  background: url("/img/social/vk.png") center no-repeat;
}
.auth div.social span i.facebook {
  background: url("/img/social/fb.png") center no-repeat;
}
.auth div.social span i.steam {
  background: url("/img/social/steam.png") center no-repeat;
}
.auth div.social span i.twitter {
  background: url("/img/social/twitter.png") center no-repeat;
}
.auth div.social span i.yandex {
  background: url("/img/social/yandex.png") center no-repeat;
}
.auth div.social span i.google {
  background: url("/img/social/google.png") center no-repeat;
}
