.dropdown-menu a {
  text-decoration: none;
}
.dropdown-menu nav {
  font-family: monospace;
}
.dropdown-menu ul {
  background: #fef8f3;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.dropdown-menu ul li ul {
  background: #fef8f3;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
.dropdown-menu ul li ul li {
  clear: both;
  width: 100%;
}
.dropdown-menu li {
  color: #a80e00;
  background: #fef8f3;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.dropdown-menu li a {
  display: block;
  color: #a80e00;
}
.dropdown-menu li a:before {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: " ";
}
.dropdown-menu li:focus-within a {
  outline: none;
}
.dropdown-menu li:hover,
.dropdown-menu li:focus-within {
  background: #fef8f3;
  cursor: pointer;
}
.dropdown-menu ul li:hover > ul,
.dropdown-menu ul li:focus-within > ul,
.dropdown-menu ul li ul:hover,
.dropdown-menu ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
