.pagination {
  list-style: none;
  padding: 0;
  margin: 15px auto 15px auto;
}
.page-item {
  display: inline-block;
}
.page-item .page-link {
  display: block;
  border-radius: 50%;
  background-color: #fef8f3;
  font-size: 18px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #a80e00;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.page-item:not(.active) .page-link:hover {
  background-color: #a80e00;
  color: #fef8f3;
}
.page-item.active .page-link {
  border: 1px solid #ff4d3b;
  box-shadow: 3px 5px 13px 0 rgba(0,0,0,0.5), inset 0px 0px 7px 0px #9721c1;
  color: #000;
}
