.slider {
  padding: 0;
}
.slider .viewport {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.slider .viewport .prev {
  left: 20px;
}
.slider .viewport .next {
  right: 20px;
}
.slider .viewport .prev,
.slider .viewport .next {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fef8f3;
  border-radius: 50%;
  top: calc(50% - 25px);
}
.slider .viewport .prev:hover,
.slider .viewport .next:hover {
  cursor: pointer;
}
.slider .viewport .slide-wrapper {
  position: relative;
  width: calc(648px * 4);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
          transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
}
.slider .viewport .slide-wrapper,
.slider .viewport .slide-wrapper ul,
.slider .viewport .slide-wrapper li {
  margin: 0;
  padding: 0;
}
.slider .viewport .slide-wrapper a {
  display: block;
}
.slider .viewport .slide {
  width: 648px;
  list-style: none;
  display: inline;
  float: left;
}
.slider .viewport .slide-img {
  width: 100%;
}
.slider .viewport .navigation-buttons {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 20px;
  padding: 0;
  margin: 0;
}
.slider .viewport .navigation-buttons .to-slide {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #fef8f3;
  border-radius: 50%;
  margin: 3px;
}
.slider .viewport .navigation-buttons .to-slide:hover {
  cursor: pointer;
}
.slider .viewport .navigation-buttons .to-slide.selected {
  background: #f00;
}
