.user-info {
  font-family: 'Roboto', sans-serif;
  background: #fef8f3;
  border-radius: 20px;
  color: #000;
  margin-bottom: 5px;
}
.user-info img {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 5px;
  border-radius: 20px 0 0 20px;
}
.user-info p {
  margin: 0;
}
.user-info p.username {
  font-size: 20px;
}
.user-info p.balance {
  font-size: 16px;
  color: #a80e00;
}
.user-navigation {
  font-size: 0;
  white-space: nowrap;
}
.user-navigation .full {
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.user-navigation .link:first-child {
  margin-right: 5px;
}
.user-navigation .link:last-child {
  margin-left: 5px;
}
.user-navigation button {
  width: calc(50% - 5px);
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 115px;
  height: 30px;
  background: #fef8f3;
  border-radius: 30px;
  color: #a80e00;
  text-align: center;
  line-height: 30px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
  font: 14px 'Calibri';
  cursor: pointer;
}
.user-navigation button:hover {
  background: #a80e00;
  color: #fef8f3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
